.mt-3{
    display: flex;
    width: 76%;
    text-align: center;
    font-size: 17px;
    align-self: center;

}

@media (max-width: 768px) {
    h1{
        display: flex;
        justify-content: center;
        text-align: center;
        font-size: 1rem;
    }
    h4{
        display: flex;
        justify-content: center;
        text-align: center;
        font-size: 0.8rem;
        margin-top: 10px;
    }
    .mt-3{
        display: flex;
        text-align: center;
        font-size: 0.6rem;
        margin-top: 10px;
        width: 90%;
        margin-bottom: 0;
        
    }

}